/*
Nome do Tema: Contec
URI do tema: http://conteccontabil.com.br
Autor: Yuri
Autor URI: http://wordpress.org/
Descrição: Tema criado para Contec

*/
/* Estilos Gerais */
body,
html {
  font-family: "Montserrat", sans-serif;
  padding-top: 1rem;
}

.logo-img {
  width: 190px;
}

.img-width-tradicao {
  width: 150px;
}

.iframe-width {
  width: 100%;
  height: 400px;
}

.img-width {
  width: 200px;
}

.img-fluando {
  position: absolute;
  right: 348px;
  margin-top: 57px;
}

.img-height {
  height: 100px;
}

.img-aspas {
  margin-top: -75px;
}

.navbar-toggler {
  border: none !important;
}

.logo-footer {
  width: 150px;
}

.icone-color {
  color: #f26f21;
}

.doc-span-orange {
  color: #f26f21;
}

.doc-span-black {
  color: #43525a;
}

.pt-6 {
  padding-top: 5rem !important;
}

.pt-7 {
  padding-top: 9rem !important;
}

.fundo {
  width: 100%;
  height: 100vh;
  top: 0;
  position: fixed;
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.popup {
  display: flex;
  align-self: center;
  border: 5px solid #445058;
  border-radius: 4px;
  position: relative;
  z-index: 1000;
  width: 30%;
}

@media (max-width: 480px) {
  .popup {
    width: 90%;
  }
}

.icon-close {
  position: absolute;
  top: 5px;
  right: 5px;
  z-index: 1000;
  text-decoration: none;
  color: #445058;
}

#carousel1 .owl-stage-outer {
  margin-top: -94px;
}

#carousel1 .owl-nav {
  display: none;
}

#carousel1 .owl-dots {
  position: relative;
  margin-top: -40px;
}

#carousel2 .owl-nav {
  display: none;
}

#carousel2 .owl-dots span {
  width: 100%;
  height: 2px;
  margin: 15px 119px 0 1px;
  display: block;
  border-radius: 0;
}

#carousel3 .owl-dots {
  display: none;
}

#carousel4 .owl-nav {
  display: none;
}

#carousel4 .owl-dots span {
  width: 100%;
  height: 2px;
  margin: 15px 119px 0 1px;
  display: block;
  border-radius: 0;
}

#carousel5 .owl-dots {
  margin-top: 1rem;
}

#carousel5 .owl-nav {
  display: none;
}

.mt-n6 {
  margin-top: -9rem !important;
}

.mt-5-5 {
  margin-top: 3.5rem !important;
}

.mt-n7 {
  margin-top: -22rem !important;
}

.mt-n4-5 {
  margin-top: -3rem !important;
}

.btn-owlcarousel {
  position: absolute;
  margin-top: -90px;
  z-index: 10;
  width: 95%;
}

.my-6 {
  margin-top: 11rem !important;
  margin-bottom: 9rem !important;
}

.mt-6 {
  margin-top: 4rem;
}

.mb-06 {
  margin-bottom: 0.8rem !important;
}

.line {
  background-color: #ffffff;
  height: 1px;
  width: 100%;
}

.line-2 {
  background-color: #717171;
  height: 1px;
  width: 100%;
}

.line-3 {
  background-color: #f26f21;
  height: 1px;
  width: 50%;
}

.line-4 {
  background-color: #f26f21;
  height: 3px;
  width: 20%;
}

.line-5 {
  background-color: #f26f21;
  height: 3px;
  width: 5%;
}

.line-6 {
  background-color: #f26f21;
  height: 3px;
  width: 2%;
}

/* Formatação card */

.card-img-top-1 {
  width: 50px !important;
}

.card-img-top-2 {
  width: 20px !important;
}

.card-home {
  width: 13rem;
  box-shadow: 6px 3px 19px -3px rgba(0, 0, 0, 0.15) !important;
  border-radius: 0;
  border-color: #fff;
}

.card-home-2 {
  width: 13rem;
  /* box-shadow: 6px 3px 19px -3px rgba(0, 0, 0, 0.15) !important; */
  border-radius: 0;
  border-color: #fff;
}

.card-equipe {
  width: 18rem;
  box-shadow: 6px 3px 19px -3px rgba(0, 0, 0, 0.15) !important;
  border-radius: 0;
}

.text-format-autor {
  color: #09bfc6;
  font-size: 0.9rem;
  font-weight: 700;
}

.text-format-sub {
  color: #dedede;
  font-size: 0.9rem;
  font-weight: 700;
}

/* Fim Formatação card */

#list-bullets li::before {
  content: "•";
  color: orange;
  display: inline-block;
  width: 1rem;
  margin-left: -1em;
}

.list-none {
  list-style: none;
}

.format-position {
  right: 0;
  z-index: -1;
}

.format-position-3 {
  right: 0;
  z-index: -1;
  margin-top: -24px;
}

.format-col {
  float: right;
  overflow: hidden;
  margin-top: -117px;
}

.format-position-2 {
  left: 0;
  z-index: -1;
}

.format-col-2 {
  float: left;
  overflow: hidden;
}

.format-col-3 {
  float: right;
  overflow: hidden;
  margin-top: 180px;
}

.icon-font {
  font-weight: 400;
}

.span-color {
  color: #09bfc6;
}

.dropdown-toggle::after {
  display: inline-block;
  margin-left: 0.255em;
  vertical-align: 0.255em;
  content: "";
  border-top: 0.3em solid;
  border-right: 0.2em solid transparent !important;
  border-bottom: 0;
  border-left: 0.2em solid transparent !important;
}

.shadow {
  box-shadow: 6px 3px 19px -3px rgba(0, 0, 0, 0.15) !important;
  border-radius: 0;
  border-color: #fff;
}

.padrao-altura {
  height: 95%;
}

.a-format {
  font-size: 0.9rem;
  font-weight: 700;
  color: ;
}

.contador-format {
  color: #d1d0d0;
  font-weight: 700;
}

/* Largura da barra de rolagem */
::-webkit-scrollbar {
  width: 10px;
}

/* Fundo da barra de rolagem */
::-webkit-scrollbar-track-piece {
  background-color: #f26f21;
}

/* Cor do indicador de rolagem */
::-webkit-scrollbar-thumb:vertical,
::-webkit-scrollbar-thumb:horizontal {
  background-color: #707070;
}

/* Formatações de textos */
.li-header {
  color: #717171;
  font-size: 1rem;
  font-weight: 400;
}

.li-header:hover {
  color: #fff !important;
  background: #f26f21;
  transition: all 0.7s ease;
}

.list-footer a {
  color: #717171;
  font-size: 1rem;
  font-weight: 400;
}

.list-footer-sumare {
  color: #717171;
  font-size: 1rem;
  font-weight: 400;
}

.span-footer {
  color: #717171;
  font-size: 1rem;
  font-weight: 400;
}

.list-footer-desktop a {
  color: #717171;
  font-size: 1rem;
  font-weight: 400;
  text-decoration: none;
}

.h2-format-nova {
  font-size: 1rem;
  font-weight: 700;
  color: #e6dfdf;
}

.h1-format-prep {
  font-size: 2.5rem;
  font-weight: 700;
  color: #43525a;
}

.banner-text-custom {
  text-transform: uppercase;
  color: #e8400e;
  text-align: center;
  font-size: 21px;
}
.banner-text-custom .grande {
  font-size: 70px !important;
  line-height: 50px !important;
  display: block;
  font-weight: bold;
}

.h1-format-contec {
  font-size: 1.5rem;
  font-weight: 700;
}

.p-format {
  font-size: 1rem;
  font-weight: 700;
}

.h1-format-estru {
  font-size: 1.5rem;
  font-weight: 700;
  color: #43525a;
}

.p-format-estru {
  font-size: 0.9rem;
  font-weight: 700;
  color: #717171;
}

.h3-format {
  font-size: 1.5rem;
  font-weight: 700;
  color: #717171;
}

.h5-format-card {
  color: #f26f21;
  font-size: 1rem;
  font-weight: 700;
}

.p-format-card {
  font-size: 0.9rem;
  font-weight: 700;
  color: #717171;
}

.p-format-orange {
  color: #f26f21;
  font-size: 1.5rem;
  font-weight: 700;
}

.p-black {
  color: #717171;
  font-size: 0.9rem;
}

.p-format-iso {
  font-size: 1rem;
  font-weight: 400;
  color: #717171;
}

.li-format {
  font-size: 1rem;
  font-weight: 700;
}

.h1-format-area {
  font-size: 1.5rem;
  color: #09bfc6;
  font-weight: 700;
}

.p-format-area {
  font-size: 1rem;
  font-weight: 700;
  color: #717171;
}

.h1-format-agende {
  font-size: 2rem;
  font-weight: 700;
  color: #fff;
}

.p-format-agende {
  font-size: 1rem;
  font-weight: 700;
  color: #fff;
}

/* page-historia */

.h1-format-his {
  font-size: 1.5rem;
  font-weight: 700;
  color: #43525a;
}

.p-format-hist {
  color: #929292;
  font-weight: 700;
  font-size: 0.9rem;
}

.p-format-cres {
  color: #f26f21;
  font-weight: 700;
  font-size: 1.5rem;
}

.p-format-hist.color-orange {
  color: #f26f21;
}

.h1-format-cul {
  font-size: 1.5rem;
  font-weight: 700;
}

.p-format-cultura {
  font-size: 0.9rem;
  font-weight: 700;
}

.h1-format-7 {
  font-size: 1.8rem;
  font-weight: 700;
}

.h3-format-exce {
  font-size: 1.5rem;
  font-weight: 700;
}

.p-format-exce {
  font-size: 0.8rem;
  font-weight: 400;
}

/* page-equipe */

.h1-format-equi {
  font-size: 1.5rem;
  font-weight: 700;
  color: #43525a;
}

.p-format-equi {
  color: #717171;
  font-size: 1rem;
  font-weight: 700;
}

.card-title-h5 {
  font-size: 1.5rem;
  font-weight: 700;
}

.card-subtitle-h6 {
  font-size: 1rem;
  font-weight: 700;
}

/* page-servicos */

.height-custom {
  height: 100px;
}

.h5-format-title {
  font-size: 1.5rem;
  font-weight: 700;
}

.h6-format-paragraf {
  font-size: 1rem;
  font-weight: 700;
  color: #43525a;
}

.p-format-servicos {
  font-size: 1rem;
  font-weight: 700;
  color: #717171;
}

.p-format-busca {
  font-size: 1rem;
  font-weight: 400;
  color: #717171;
}

.h1-format-agende-2 {
  font-size: 2rem;
  font-weight: 700;
  color: #43525a;
}

.mini-li {
  padding-left: 30px;
  font-size: 14px;
}

/* page-qualidade */
.p-format-qualidade {
  font-size: 1rem;
  font-weight: 400;
  color: #717171;
}

/* page-contato */

.h1-format-contato {
  font-size: 1.5rem;
  font-weight: 700;
  color: #43525a;
}

.p-format-contato {
  font-size: 1rem;
  font-weight: 400;
  color: #717171;
}

.p-format-page-contato {
  font-size: 1rem;
  font-weight: 700;
  color: #cecece;
}

.tele-format {
  font-size: 1.5rem;
  font-weight: 400;
  color: #717171;
}

.tele-format:hover {
  color: #717171;
}

.tele-format:link {
  text-decoration: none;
}

.email-format {
  font-size: 1rem;
  font-weight: 400;
  color: #717171;
}

.email-format:link {
  text-decoration: none;
}

.email-format:hover {
  color: #717171;
}

.div-format {
  font-size: 1rem;
  font-weight: 700;
  color: #43525a;
}

.sumare-format {
  color: #43525a;
  font-size: 1rem;
  font-weight: 400;
}
/* Fim formatção textos */
/* Botões */

.btn-outline-fale {
  font-size: 1rem;
  font-weight: 400;
  color: #f26f21;
  border: 2px solid #f26f21;
  transition: all 0.7s ease;
}

.btn-outline-fale:hover {
  background: #f26f21;
  color: #fff;
}

.btn-secondary {
  background: #f26f21 !important;
}

.btn-danger {
  background: #f26f21 !important;
  color: #fff;
  font-size: 0.9rem;
  font-weight: 700;
  text-transform: uppercase;
  transition: 0.6s all;
  border-color: #f26f21 !important;
}

.btn-danger:hover {
  background: #09bfc6 !important;
  border-color: #09bfc6 !important;
  transition: 0.6s all;
}

.btn-outline-acesse {
  color: #09bfc6;
  border-color: #09bfc6;
  font-size: 1rem;
  font-weight: 700;
  transition: all 0.7s ease;
}

.btn-outline-acesse:hover {
  background: #09bfc6;
  color: #fff;
  border-color: #09bfc6;
  transition: all 0.7s ease;
}

.btn-outline-agende {
  font-size: 1rem;
  font-weight: 700;
  color: #fff;
  border: 2px solid #fff;
  transition: all 0.7s ease;
}

.btn-outline-agende:hover {
  background: #09bfc6;
  color: #fff;
  transition: all 0.7s ease;
}

.btn-outline-download {
  font-size: 1rem;
  font-weight: 400;
  color: #f26f21;
  border: 2px solid #f26f21;
}

.btn-outline-download:hover {
  color: #fff;
  background: #09bfc6;
  border-color: #09bfc6;
  transition: all 0.7s ease;
}

.btn-outline-agendar {
  font-size: 1rem;
  font-weight: 700;
  color: #f26f21;
  background: #ffffff;
  border: 2px solid #fff;
  transition: all 0.7s ease;
}

.btn-outline-agendar:hover {
  color: #fff;
  background: #09bfc6;
}

.btn-outline-busca {
  font-size: 1rem;
  font-weight: 700;
  color: #f26f21;
  border: 2px solid #f26f21;
  transition: all 0.7s ease;
}

.btn-outline-busca:hover {
  background: #f26f21;
  color: #fff;
  transition: all 0.7s ease;
}

.btn-outline-whats {
  font-size: 1rem;
  font-weight: 700;
  color: #6dbe61;
  border: 2px solid #6dbe61;
  transition: all 0.7s ease;
}

.btn-outline-whats:hover {
  background: #6dbe61;
  color: #fff;
}
/* Backgrounds */
.bg-nav {
  background: #e6e6e6;
}

.bg-jq-white {
  background: #fff;
}

.bg-div {
  background: #e6e6e6;
  /* height: 200px; */
  padding: 1rem 0;
}

.bg-div-home {
  background: #e6e6e6;
  padding: 4rem 0;
}

.bg-orange {
  background: #f26f21;
}

.bg-gray {
  background: #f5f5f5;
}

.bg-list {
  background: #43525a;
  list-style: none;
}

/* Carrossel home */

.carousel-estrutura .item {
  background-size: cover !important;
  background-repeat: no-repeat !important;
  background-position-y: 0 !important;
  width: 353px;
  height: 265px;
}

.carousel-estrutura .item.i-1 {
  background: url("./img/estrutura-image-1.jpg");
}

.carousel-estrutura .item.i-2 {
  background: url("./img/estrutura-image-2.jpg");
}

.carousel-estrutura .item.i-3 {
  background: url("./img/estrutura-image-3.jpg");
}

.carousel-estrutura .item.i-4 {
  background: url("./img/estrutura-image-4.jpg");
}

.carousel-estrutura .item.i-5 {
  background: url("./img/estrutura-image-5.jpg");
}

.carousel-estrutura .item.i-6 {
  background: url("./img/estrutura-image-6.jpg");
}

.carousel-estrutura .item.i-7 {
  background: url("./img/estrutura-image-7.jpg");
}

.carousel-estrutura .item.i-8 {
  background: url("./img/estrutura-image-8.jpg");
}

.carousel-estrutura .item.i-9 {
  background: url("./img/estrutura-image-9.jpg");
}

.carousel-estrutura .item.i-10 {
  background: url("./img/estrutura-image-10.jpg");
}

.carousel-estrutura .item.i-11 {
  background: url("./img/estrutura-image-11.png");
}

.carousel-estrutura .item.i-12 {
  background: url("./img/estrutura-image-12.png");
}

.carousel-estrutura .item.i-13 {
  background: url("./img/estrutura-image-13.png");
}

.carousel-estrutura .item.i-14 {
  background: url("./img/estrutura-image-14.png");
}

.carousel-estrutura .item.i-15 {
  background: url("./img/estrutura-image-15.png");
}

.carousel-estrutura .item.i-16 {
  background: url("./img/estrutura-image-16.png");
}

.carousel-estrutura .item.i-17 {
  background: url("./img/estrutura-image-17.png");
}

.carousel-estrutura .item.i-18 {
  background: url("./img/estrutura-image-18.png");
}

.carousel-estrutura .item.i-19 {
  background: url("./img/estrutura-image-19.png");
}

.carousel-estrutura .item.i-20 {
  background: url("./img/estrutura-image-20.png");
}

.carousel-estrutura .item.i-21 {
  background: url("./img/estrutura-image-21.png");
}

.carousel-estrutura .item.i-22 {
  background: url("./img/estrutura-image-22.png");
}

.carousel-estrutura .item.i-23 {
  background: url("./img/estrutura-image-23.png");
}

.carousel-estrutura .item.i-24 {
  background: url("./img/estrutura-image-24.png");
}

.carousel-estrutura .item.i-25 {
  background: url("./img/estrutura-image-25.png");
}

.carousel-estrutura .item.i-26 {
  background: url("./img/estrutura-image-26.png");
}

/* page-historia */
.bg-hist {
  background: #43525a;
  margin-bottom: 300px;
  position: relative;
}

.bg-cultura {
  background: #09bfc6;
}

/* page-equipe */

.bg-black {
  background: #43525a;
}

/* Formatação mapa page-contato */

.mapa-format {
  width: 100%;
  height: 565px;
  border: 0;
}

/* Formatação Formulário */

.form-control {
  background-clip: none;
  border-left: none;
  border-top: none;
  border-right: none;
  border-radius: 1px;
  transition: none;
}

.form-control:focus {
  box-shadow: 0 0 0 0;
  border: 0 none;
  outline: 0;
  border-bottom: 1px solid #43525a;
  font-size: 1.5rem;
}

.input-format {
  font-size: 1rem;
  font-weight: 400;
  color: #cecece;
}

/* Formatação dos botões Next e Prev */
.customNextBtn {
  z-index: 10;
  cursor: pointer;
  font-size: 2rem;
  color: #cecece;
}

.customPrevBtn {
  z-index: 10;
  cursor: pointer;
  font-size: 2rem;
  color: #cecece;
}

.customPrevBtn:hover {
  color: #f26f21;
}

.customNextBtn:hover {
  color: #f26f21;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
	supported by Chrome and Opera */
}

/* Dispositivos médios (tablets com 768px ou mais)*/
@media (max-width: 768px) {
  .bg-nav {
    background: #fff;
  }

  /* .bg-div {
		height: 200px;
	} */

  .bg-nav-white {
    background: #fff;
  }

  .list-footer a {
    font-size: 0.9rem;
  }

  .list-footer-sumare {
    font-size: 0.73rem;
  }

  .span-footer {
    font-size: 0.9rem;
  }

  #carousel1 .owl-stage-outer {
    margin: 0;
  }

  #carousel2 .owl-dots span {
    width: 100%;
    height: 2px;
    margin: 1rem 1rem 1rem 0rem;
    display: inline-block;
    border-radius: 0;
  }

  #carousel4 .owl-dots span {
    width: 100%;
    height: 2px;
    margin: 1rem 2rem 1rem 0rem;
    display: inline-block;
    border-radius: 0;
  }

  #carousel5 .owl-dots {
    display: none;
  }

  .p-format-iso {
    font-size: 0.8rem;
  }

  .position-md-absolute {
    position: inherit !important;
  }

  .my-6 {
    margin-top: 3rem !important;
    margin-bottom: 4rem !important;
  }

  .pt-sm-8 {
    padding-top: 22rem !important;
  }

  .pt-sm-7 {
    padding-top: 3rem !important;
  }

  .mt-sm-n6 {
    margin-top: 3rem !important;
  }

  .li-format {
    font-size: 0.8rem;
  }

  .h1-format-agende {
    font-size: 1.5rem;
  }

  .p-format-agende {
    font-size: 0.8rem;
  }

  .p-format-cres {
    font-size: 1rem;
  }

  .h1-format-7 {
    font-size: 1.5rem;
  }

  .h3-format-exce {
    font-size: 1.2rem;
  }

  .line-5 {
    width: 5%;
  }

  .mapa-format {
    height: 300px;
  }

  .pt-md-6 {
    padding-top: 1rem !important;
  }
}

.bg-hist .dot {
  color: #09bfc6;
}

.box-blue-history {
  background: #09bfc6;
  position: relative;
  padding-left: 15px;
  top: 40px;
  padding-right: 15px;
  padding-top: 70px;
  padding-bottom: 70px;
}

.box-blue-history span {
  font-family: Montserrat;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  text-align: left;
  color: #fff;
  display: inline-block;
}

.box-blue-history .orange {
  background: #f26f21;
  padding-left: 4px;
  padding-right: 4px;
}

.mb-250 {
  margin-bottom: -250px;
}

@media (min-width: 1000px) {
  .bg-hist {
    padding-top: 190px !important;
    margin-bottom: 130px;
  }
  .banner-text-custom {
    text-align: right;
  }
  .cultura-contec {
    position: relative;
    top: 120px;
    z-index: 5;
  }
  .size-lg {
    flex: unset !important;
    width: 140px !important;
    margin-right: 50px;
  }
  .cultura-contec .bg-cultura {
    padding: 60px 90px !important;
    margin: 0 auto;
    width: 100%;
  }
  .box-blue-history {
    width: unset !important;
    padding-left: 100px;
    padding-right: 100px;
  }
  .mb-250 {
    margin-bottom: -50px;
  }
}
